<h1>Hello I'm Victor</h1>

<!-- To display the rooms Component -->
<app-rooms></app-rooms>
 <!-- Eg here: We want to design a login system that will not display if i'm a user then display if i'm an admin --> -->

 <!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
      <h2>Welcome User!</h2>
  </div>
  <div *ngSwitchCase="'Admin'">
      <h2>Welcome Admin</h2>
      <app-rooms></app-rooms>
  </div>
  <div *ngSwitchDefault>
    <h5>You are not authorize to view this page</h5>
  </div>
</div> -->
