<h1 class="text-center">Learing Angular Js Course.</h1>

<!-- To display the rooms Component -->
<!-- <app-rooms></app-rooms> -->

<!-- To display the ng-container -->
<!-- <app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>This is from ng-content</h1> -->
  <!-- Using this scenario we can pass DOM element into the component -->
<!-- </app-container> -->
<!-- To get access to the Element -->
<!-- <div #name></div> -->
 <!-- Eg here: We want to design a login system that will not display if i'm a user then display if i'm an admin -->

 <!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
      <h2>Welcome User!</h2>
  </div>
  <div *ngSwitchCase="'Admin'">
      <h2>Welcome Admin</h2>
      <app-rooms></app-rooms>
  </div>
  <div *ngSwitchDefault>
    <h5>You are not authorize to view this page</h5>
  </div>
</div> -->

<!-- Ng Template => it is a tag which will nwver render anything(i.e it's not viewable ), but its us to render some other
  template(eg component) Let's try it out-->
  <!-- <div>
    <ng-template #user></ng-template>
  </div> -->

  <!-- Using anoch tad to display link -->
  <!-- It advise you don'y use [href] because it reload, the best way is [routeLink] we don't reload -->
  <a [routerLink]="['/rooms']" routerLinkActive="router-link-active" >Rooms</a>
  <a [routerLink]="['/employee']" routerLinkActive="router-link-active" >Employee</a>
  <!-- The ng-router-outlet is used to display the route -->
  <router-outlet></router-outlet>
  