<!-- Interpolation Binding: Eg -->
<h1>Welcome To {{ hostelName }}</h1>

<!-- Property Binding => This is used in any vaild html property: Eg -->
<!-- <div [innerText]="numberOfRooms"></div> -->
<!--
  [innerText] is a property that is bond the value.
  Just like documents.getElementById.innerText() -->

  <!-- How to collect information:
  Event Binding -->

  <div class="" [hidden]="hideRoom">
    <h6>Number Of Rooms</h6>
    <div [innerText]="numberOfRooms"></div>
  </div>

  <!-- Using Directive: Built in -->
  <!-- Type : => Sturcture && Attibute  -->
  <!-- Sturectur Directive modify the DOM eg 8ngIf, *ngFor & *ngSwitch-->
  <!-- Attrbute Directive they can modify the DOM but can't add or remove elements-->
  {{ rooms.availableRooms ?? 'No Rooms' }}
  <!-- This expreesion meand that if the is no value display `No Rooms` -->
  <!-- ng-if -->
  <!-- <div class="" *ngIf="rooms?.availableRooms">
    <p>Room List</p>
  </div> -->

  <div class="" *ngIf="rooms.availableRooms > 0">
    <p>Room List</p>
    <!-- How to display Array Elemts -->
    <table>
      <thead>
        <th>Index Of Item</th>
        <th>Even/Odd</th>
        <th>Room Number (#)</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Room Amenities</th>
        <th>Checkin Time</th>
      </thead>
      <tbody>
        <!-- To fine the event NO and Odd No. we say -->
        <!-- To get the index => we say -->

        <tr *ngFor="let room of roomList; let e = even; let o = odd; let i = index">
          <td>{{ i }}</td>
          <td>{{ e? "Event" : "Odd" }}</td>
          <td>{{ room.roomNumber }}</td>
          <td>{{ room.roomType }}</td>
          <td>{{ room.price }}</td>
          <td>{{ room.amenities }}</td>
          <td>{{ room.checkInTime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="toogle()">Toogle</button>
