<div class="container">
  <!-- Interpolation Binding: Eg -->
  <!-- <h1 class="text-center">Welcome To {{ hostelName }}</h1> -->
  <app-header></app-header>
  <input type="text" name="" class="form-control" id="">

  <h5>Your Username is {{ username }}</h5>
  <!-- Property Binding => This is used in any vaild html property: Eg -->
  <!-- <div [innerText]="numberOfRooms"></div> -->
  <!--
    [innerText] is a property that is bond the value.
    Just like documents.getElementById.innerText() -->

    <!-- How to collect information:
    Event Binding -->

    <!-- rxjs stream uses of async -->
    <!-- When u want to display stream u use the the async -->
    {{ rooms$ | async | json }}
    <div class="" [hidden]="hideRoom">
      <h6>Number Of Rooms</h6>
      <div [ngStyle]="{'color': rooms.availableRooms > 0 ? 'green' : 'red'}" [innerText]="numberOfRooms"></div>
    </div>

    <!-- Using Directive: Built in -->
    <!-- Type : => Sturcture && Attibute  -->
    <!-- Sturectur Directive modify the DOM eg 8ngIf, *ngFor & *ngSwitch-->
    <!-- Attrbute Directive they can modify the DOM but can't add or remove elements-->
    <!-- {{ rooms.availableRooms ?? 'No Rooms' }} -->
    <!-- This expreesion meand that if the is no value display `No Rooms` -->
    <!-- ng-if -->
    <!-- <div class="" *ngIf="rooms?.availableRooms">
      <p>Room List</p>
    </div> -->

    <div class="" *ngIf="selectedRoom">
      {{ selectedRoom | json}}
    </div>

    <button (click)="addRoom()">Add Item</button>
    <button [routerLink]="['/rooms/add']" routerLinkActive="router-link-active" >Add Room</button>

    <!-- To display the error -->
    <h2>{{ getError$ | async }} <br> <span class="text-right">Number Of Rooms Count: {{ roomsCount$ | async }}</span></h2> 
    <!-- Bisng the Input and Output Function -->
    <!-- <div class="" *ngIf="rooms.availableRooms > 0">
      <app-rooms-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>
    </div> -->
    <!-- <div class="" *ngIf="hideRoom"> -->
      <div class="" *ngIf="rooms$ | async as rooms"> 
        <!-- // This is avoid calling muliple stream pipes -->
      <app-rooms-list [rooms]="rooms" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>
    </div>
    <button (click)="toogle()">Toogle</button>
    <button (click)="editRoom()">Edit Room</button>
    <button (click)="deleteRoom()">Delete Room</button>

    <!-- Http Request to diplay the totalbytes of the API -->
    <h1>{{ totalBytes }} loaded</h1>

    <!-- We use where to place this outlet of the nesting route -->
    <router-outlet></router-outlet>
</div>
