<div class="container">
  <!-- Interpolation Binding: Eg -->
  <!-- <h1 class="text-center">Welcome To {{ hostelName }}</h1> -->
  <app-header></app-header>
  <input type="text" name="" class="form-control" id="">

  <h5>Your Username is {{ username }}</h5>
  <!-- Property Binding => This is used in any vaild html property: Eg -->
  <!-- <div [innerText]="numberOfRooms"></div> -->
  <!--
    [innerText] is a property that is bond the value.
    Just like documents.getElementById.innerText() -->

    <!-- How to collect information:
    Event Binding -->

    <div class="" [hidden]="hideRoom">
      <h6>Number Of Rooms</h6>
      <div [ngStyle]="{'color': rooms.availableRooms > 0 ? 'green' : 'red'}" [innerText]="numberOfRooms"></div>
    </div>

    <!-- Using Directive: Built in -->
    <!-- Type : => Sturcture && Attibute  -->
    <!-- Sturectur Directive modify the DOM eg 8ngIf, *ngFor & *ngSwitch-->
    <!-- Attrbute Directive they can modify the DOM but can't add or remove elements-->
    <!-- {{ rooms.availableRooms ?? 'No Rooms' }} -->
    <!-- This expreesion meand that if the is no value display `No Rooms` -->
    <!-- ng-if -->
    <!-- <div class="" *ngIf="rooms?.availableRooms">
      <p>Room List</p>
    </div> -->

    <div class="" *ngIf="selectedRoom">
      {{ selectedRoom | json}}
    </div>

    <button (click)="addRoom()">Add Item</button>

    <!-- Bisng the Input and Output Function -->
    <!-- <div class="" *ngIf="rooms.availableRooms > 0">
      <app-rooms-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>
    </div> -->
    <div class="" *ngIf="hideRoom">
      <app-rooms-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>
    </div>
    <button (click)="toogle()">Toogle</button>
</div>
